# =========================
# React Native / Expo
# =========================
node_modules/
.expo/
dist/
web-build/

# =========================
# Android
# =========================
android/.gradle/
android/local.properties/
android/app/build/
android/build/

# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Bases de datos locales
# =========================
*.db
*.sqlite
*.sqlite3

# Android
android/app/debug.keystore